/*---[GLOBAL]---*/

@font-face{
    font-family: Nunito;
    src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf)
}

@font-face{
    font-family: Nunito-Italic;
    src: url(fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf)
}



body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Nunito;
    margin: 0px;
}

/*---[HEADER SECTION]---*/

/*For screensize smaller than 600px, make all the navbar elements besides the first child display: none*/
@media screen and (max-width: 600px){
    
}
/*When icon is clicked "hamburger" program changes class css to ones listed below*/
@media screen and (max-width: 600px){
  
}

.navbar{
    border: 2px solid rgb(0, 0, 0);
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar li{
    margin-left: 5px;
    margin-right: 5px;
}

.navbar a{
    text-decoration: none;
    text-align: center;
    color: black;
}

.navbar .right{
    margin-left: auto;
}



/*---[MAIN]---*/

main{

}


/*---[FOOTER]*/

.footSVG{
    background-image: url("./svg/layered1.svg");
    background-size: cover;
    background-position: bottom;
    height: 1000px;
    width: 100%;
}

