/*---[GLOBAL]---*/

@font-face{
    font-family: Nunito;
    src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf)
}

@font-face{
    font-family: Nunito-Italic;
    src: url(fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf)
}



body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Nunito;
    margin: 0px;
}

/*---[HEADER SECTION]---*/

/*MAIN HORIZONTAL NAVIGATION BAR */

.navbar .main_navlist{
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .main_navlist li{
    margin-left: 5px;
    margin-right: 5px;
}

.navbar a{
    text-decoration: none;
    text-align: center;
    color: rgb(56, 56, 56);
    padding: 2px 7px;
    text-align: center;
}

.navbar .main_buttons a{
    font-size: 1.2em;
}

.navbar .main_buttons a:hover{
    background-color: rgb(30,144,255);
    color: white;
    border-radius: 15px;
    padding: 2px 7px;
    text-align: center;
}

.navbar .icon_buttons a:hover{
    color: rgb(30,144,255);
}

.navbar .logo{
    font-weight: 500;
    font-size: 1.8em;
    padding: 0px;
    color: rgb(0, 0, 0);   
}

.navbar .main_navlist .main_buttons{
    margin-top: 8px;
}

.navbar .main_navlist .icon_buttons{
    font-size: 1.7em;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar .main_navlist .icon_buttons a{
    padding: 0px;
    transition: 0.2s;
}

.navbar .main_navlist .dropdown_icon{
    display: none;
    font-size: 1.4em;
    margin-right: 10px;
    margin-left: 10px;
}

/*VERTICAL DROPDOWN MENU*/

.vertical_navlist{
    background-color: rgb(231, 231, 231);
    border-bottom: 4px solid rgb(206, 206, 206);
    display: none;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    z-index: 1;    
}

.vertical_navlist li{
    padding: 2px 7px; 
    margin-top: 3px;
}


.vertical_navlist a{
    padding: 0px;
    font-size: 1.2em;
}

/*NAVIGATION MEDIA QUERIES*/

/*When the screen size is less than 600px, remove main buttons
and display dropdown icon (hamburger)*/
@media screen and (max-width: 600px){
    .navbar .main_buttons{display: none;}

    .navbar .main_navlist .dropdown_icon{display: flex;}
}

/*When dropdown icon is pressed, display vertical ul (vertical dropdown)l*/
@media screen and (max-width: 600px){
   .navbar.responsive .vertical_navlist{
        display: flex;
   }
}

/*---[MAIN]---*/



/*ABOUT SECTION*/

.aboutme_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.website_title{
    text-align: left;
    font-size: 2.0em;
}

.aboutme_selfimage{
    margin: 10px;
    border: 4px solid lightgrey;
    border-radius: 25px;
    max-width: 300px;
    align-self: center;
}

.aboutme_content{
    text-align: left;
    max-width: 600px;
    margin-right: 25px;
    margin-left: 25px;
    align-self: left;
    padding: 5px;
    font-size: 1.3em;
    font-weight: 400;
}

.website_title_mobile{
    display: none;
    font-size: 2.0em;
}

/*O
n mobile devices, change the aboutme to align as column and to adjust the title to be on top of
image
*/
@media screen and (max-width: 600px){
    .aboutme_section{
        flex-direction: column;
    }

    .website_title{
        display: none;
    }

    .website_title_mobile{
        display: block;
        text-align: center;
        font-size: 2.0em;
        order: 1;
    }
    
    .aboutme_selfimage{
        order: 2;
    }

    .aboutme_content{
        order: 3;
    }
}

/*MYSTACK SECTION*/

.mystack_section{
    overflow: hidden;
    background-color: rgba(138, 138, 138, 0.318);
    white-space: nowrap;
    border: 4px solid rgb(196, 196, 196);
    border-radius: 25px;
    max-width: 1200px;
    margin: auto;
}

.mystack_slider{
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 0px;
    animation: 15s slide infinite linear;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 15px;
}

.mystack_slider_logos{
    margin: 0 40px;
    max-height: 100px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translate(-100%);
    }
}

@media screen and (max-width: 1200px){
    .mystack_section{
        margin-right: 17px;
        margin-left: 17px;
    }
}

/*---[FOOTER]*/



