@font-face{
    font-family: Nurito;
    src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf)
}

@font-face{
    font-family: Nurito-Italic;
    src: url(fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf)
}

*{
    box-sizing: border-box;  
}

body{
    background-color: black;
    font-family: Nurito;
    margin: 0px;
}

.navbar ul{
    /*list style type removes the bullet points*/
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    /*
    overflow determines if the internal element needs scroll or 
    not. hidden disables scroll.
    */
    overflow: hidden;
}

.navbar li{
    float: left;
    margin: 15px;
    margin-left: 7px;
    margin-right: 7;
}

.navbar .logo{
    font-size: 1.4em;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.navbar .contact{
    background-color: rgb(17, 127, 210);
    border-radius: 25px;
    border: 2px solid rgb(120, 120, 120);
}

.navbar .contact:hover{
    background-color: rgb(67, 147, 209) !important;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    /*
    Element's interaction with other elements. block = 
    start at newline and takes up all space
    */
    display: inline-block;
    border-radius: 25px;
}

.navbar a:hover{
    background-color: rgb(74, 74, 74);
}






