/*---[GLOBAL]---*/

@font-face{
    font-family: Nunito;
    src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf)
}

@font-face{
    font-family: Nunito-Italic;
    src: url(fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf)
}

html { 
    scroll-behavior: smooth; 
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Nunito;
    margin: 0px;
}

/*---[HEADER SECTION]---*/

/*MAIN HORIZONTAL NAVIGATION BAR */

.navbar .main_navlist{
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .main_navlist li{
    margin-left: 5px;
    margin-right: 5px;
}

.navbar a{
    text-decoration: none;
    text-align: center;
    color: rgb(56, 56, 56);
    padding: 2px 7px;
    text-align: center;
}

.navbar .main_buttons a{
    font-size: 1.2em;
    transition: 0.1s;
    border-radius: 15px;
}

.navbar .main_buttons a:hover{
    background-color: rgb(30,144,255);
    color: white;
    border-radius: 15px;
    padding: 2px 7px;
    text-align: center;
}

.navbar .icon_buttons a:hover{
    color: rgb(30,144,255);
}

.navbar .logo{
    font-weight: 500;
    font-size: 1.8em;
    padding: 0px;
    color: rgb(0, 0, 0);   
}

.navbar .main_navlist .main_buttons{
    margin-top: 8px;
}

.navbar .main_navlist .icon_buttons{
    font-size: 1.7em;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar .main_navlist .icon_buttons a{
    padding: 0px;
    transition: 0.2s;
}

.navbar .main_navlist .dropdown_icon{
    display: none;
    font-size: 1.8em;
    margin-right: 10px;
    margin-left: 10px;
}

/*VERTICAL DROPDOWN MENU*/

.vertical_navlist{
    position: absolute;
    width: 100%;
    background-color: rgb(231, 231, 231);
    border-bottom: 4px solid rgb(206, 206, 206);
    display: none;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
    z-index: 1;  
}

.vertical_navlist li{
    padding: 8px 15px; 
    margin: 5px 0px;
}


.vertical_navlist a{
    padding: 0px;
    font-size: 1.2em;
}

/*NAVIGATION MEDIA QUERIES*/

/*When the screen size is less than 600px, remove main buttons
and display dropdown icon (hamburger)*/
@media screen and (max-width: 600px){
    .navbar .main_buttons{display: none;}

    .navbar .main_navlist .dropdown_icon{display: flex;}
}

/*When dropdown icon is pressed, display vertical ul (vertical dropdown)l*/
@media screen and (max-width: 600px){
   .navbar.responsive .vertical_navlist{
        display: flex;
   }
}

/*---[MAIN]---*/

/*HOME SECTION*/

.aboutme_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 80px;
}

.website_title{
    text-align: left;
    font-size: 2.0em;
}

.aboutme_selfimage{
    margin: 10px;
    border: 4px solid lightgrey;
    border-radius: 25px;
    max-width: 300px;
    align-self: center;
    filter: drop-shadow(8px 10px 10px rgb(170, 170, 170))
}

.aboutme_content{
    text-align: left;
    max-width: 600px;
    margin-right: 25px;
    margin-left: 25px;
    align-self: left;
    padding: 5px;
    font-size: 1.3em;
    font-weight: 400;
}

.website_title_mobile{
    display: none;
    font-size: 2.0em;
}

@media screen and (max-width: 600px){
    .aboutme_section{
        flex-direction: column;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .website_title{
        display: none;
    }

    .website_title_mobile{
        display: block;
        text-align: center;
        font-size: 2.0em;
        order: 1;
    }
    
    .aboutme_selfimage{
        order: 2;
    }

    .aboutme_content{
        order: 3;
    }
}

/*MYSTACK SECTION*/

.mystack_section{
    overflow: hidden;
    background-color: rgba(138, 138, 138, 0.318);
    white-space: nowrap;
    border: 4px solid rgb(196, 196, 196);
    border-radius: 25px;
    max-width: 1200px;
    margin: auto;
    filter: drop-shadow(8px 10px 10px rgb(193, 193, 193));
    margin-bottom: 100px;
}

.mystack_slider{
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 0px;
    animation: 15s slide infinite linear;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 15px;
}

.mystack_slider_logos{
    margin: 0 40px;
    max-height: 100px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translate(-100%);
    }
}

@media screen and (max-width: 1200px){
    .mystack_section{
        margin-right: 17px;
        margin-left: 17px;
    }
}

@media screen and (max-width: 600px){
    .mystack_section{
        margin-bottom: 25px;
        margin-top: 20px;
    }
}

/*TIMELINE SECTION*/

.timeline_section{
    display: flex;
    justify-content: center;
    box-sizing: content-box;
}

.title_container{
    margin: 20px;
    position: relative;
    margin-top: 0px;
    margin-right: 25px;
    width: 150px;
}

.timeline_container{
    max-width: 1100px;
    border-left: 4px solid rgb(233, 233, 233);
}

.timeline_card{
    box-sizing: border-box;
    position: relative;
    padding-top: 5px;
    max-width: 800px;
    transition: 0.1s;
}

.timeline_card:hover{
    font-size: 1.05em;
    transition: 0.1s;
}

.pin{
    position: absolute;
    top: 25px;
    left: -12px;
    width:15px;
    height: 15px;
    border-radius: 45px;
    border: 3px solid rgba(0, 0, 0, 0.459);
    float: left;
}

@media screen and (max-width: 600px){

    .timeline_section{
        flex-direction: column;
        margin-right: 20px;
        margin-left: 20px;
    }

    .title_container{
        margin: auto;
    }

    .title_container h2{
        text-align: center;
    }
}

/*MYPROJECTS SECTION*/

.myprojects_container{
    max-width: 1500px;
    margin: auto;
    padding: 5px;
    border: 5px solid black; 
}

.myprojects_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,400px);
    gap: 25px;
    justify-content: center;
}

.card{
    border: 5px solid rgb(42, 42, 42);
    background-color: rgba(0, 0, 0, 0.876);
    border-radius: 15px;
    min-width: 375px;
    max-width: 400px;
    transition: 0.3s;
    margin: auto;
}

.card:hover{
    position: relative;
    transition: 0.3s;
    transform: translate(0px, -5px);
    border-color: rgb(0, 115, 255);
}

.stack_container{
    display: flex;
    width: 150px;
    margin: auto;
    padding: 0px;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 15px;
    background-color: rgba(138, 138, 138, 0.318);
}

.stack_logos{
    max-height: 30px;
    max-width: 30px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 3px;
}

.card_image{
    border: 4px solid grey;
    border-radius: 12px;
    max-height: 250px;
    max-width: 500px;
    margin: 20px;
    margin-top: 25px;
}

.card_content{
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

/*CONTACT ME SECTION*/

.contactme_container{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 750px;
}

.contactme_card{
    box-sizing: border-box;
    width: 300px;
    border: 4px solid grey;
    border-radius: 15px;
    margin: 15px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.42);
    color: white;
}

.contactme_card h4{
    font-size: 1.2em;
    margin: 10px 0px 2px 10px;
}

.contactme_card p{
    margin: 0px 10px 10px 10px;
    color: rgb(214, 214, 214)
}

.contactme_icon{
    transition: 0.3s;
}

.contactme_card:hover{
    position: relative;
    transition: 0.3s;
    transform: translate(0px, -5px);
    border-color: rgb(97, 97, 97);
}

.contactme_card:hover .contactme_icon{
    transition: 0.2s;
    transform: rotate(10deg);
}

@media screen and (max-width: 600px){
    .contactme_container{
        flex-direction: column;
        margin: 5px 17px;
    }

    .contactme_card{
        margin: auto;
        margin-top: 15px;
    }

}

/*FOOTER*/

.footer_section{
    height: 128px;
    background-color: hsla(205, 94%, 7%, 0.757);
}

.footer_container{
    max-width: 400px;
    margin: auto;
    color: rgba(255, 255, 255, 0.354);
    text-align: center;
    padding: 2px;
    margin-top: 25px;
}

.footer_icons{
    margin: 0px;
    padding: 0px;
    margin-bottom: 7px;
}

.footer_icons ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: auto;
    padding: 0px;
    margin: 10px;
}

.footer_icons a{
    padding: 5px;
    font-size: 1.1em;
    margin: 0px 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.354);
    transition: 0.3s;
}

.footer_icons a:hover{
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.799);
}

.frog{
    margin: 0px;
    padding: 5px;
}

